<%- include('header', {nav: nav, title: title}); %>

<div class="row">
  <br>
  <div class="col-md-2 col-sm-3 text-center">
    <h1>Profile</h1>
    <hr>
    <%= user %>
  </div>
</div>
<hr>

<%- include('footer'); %>