<%- include('header', {nav: nav, title: title}); %>

<div class="row">
  <br>
  <div class="col-md-2 col-sm-3 text-center">
    Sign Up! or <a href="/auth/signin">Sign In!</a> <br>
    <form name="signupForm" action="/auth/signup" method="post">
      Username: <input type="text" name="username" id="username"><br>
      Password: <input type="password" name="password" id="password"><br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>
<hr>

<%- include('footer'); %>